<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <!-- STYLES<<HEET -->
  <link rel="stylesheet" href="index.css" />
  <!-- ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- FAVICON -->
  <link rel="stylesheet" href="favicon.ico" type="logo/x-type" />
  <!-- <script defer src="./index.js"></script> -->
</head>

<body>
  <div class="container">
    <aside>
      <div class="top">
        <div class="logo">
          <img src="Chaitanya_Bharathi_Institute_of_Technology_logo.png" alt="" />
          <h2>Leave<span class="danger">Portal</span></h2>
        </div>
        <div class="close_button" id="cls_btn">
          <span class="material-icons-sharp">close</span>
        </div>
      </div>
      <div class="sidebar">
        <a href="#">
          <span class="material-icons-sharp">grid_view</span>
          <h3>Dashboard</h3>
        </a>
        <a href="/leaveapp">
          <span class="material-symbols-outlined">
            notifications
            </span>
            
          <h3>notification</h3>
          <span class="msgcount">
           
          </span>
        </a>

        <a href="#">
          <span class="material-icons-sharp">leaderboard</span>
          <h3>Leacturer Records</h3>
        </a>
        
      
        <a href="#">
          <span class="material-icons-sharp">logout</span>
          <h3>Sign Out</h3>
        </a>
      </div>
    </aside>
    <main>
      <h1>Dashboard</h1>
      <div class="date">
        <input id="date" type="date" />
      </div>
      <div class="insights">
        <!-- Details -->
        <div class="details">
          <span class="material-symbols-outlined"> how_to_reg </span>
          <div class="middle">
            <div class="left">
              <h3>Overall attendence</h3>
            </div>
            <div class="coursestats">
              <svg>
                <circle cx="37" cy="37" r="36"></circle>
              </svg>
              <div class="number">
                <p>74%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Last 24 hrs</small>
        </div>
        <!-- Course Details-->
        <div class="course">
          <span class="material-symbols-outlined"> mail </span>
          <div class="middle">
            <div class="left">
              <h3>Number of Leaves Left</h3>
            </div>
            <div class="coursestats">
              <svg>
                <circle cx="37" cy="37" r="36"></circle>
              </svg>
              <div class="number">
                <p>36%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Sem-III</small>
        </div>
        <!-- Teacher Details -->
        <div class="teacher">
          <span class="material-icons-sharp">person</span>
          <div class="middle">
            <div class="left">
              <h3>Teacher details</h3>
            </div>
            <div class="coursestats">
              <svg>
                <circle cx="37" cy="37" r="36"></circle>
              </svg>
              <div class="number">
                <p>100%</p>
              </div>
            </div>
          </div>
          <small class="text-muted">Dept:IT</small>
        </div>
      </div>
      <!-- end of insights -->
      <div class="studentab">
        <h2>Detailed Overview</h2>
        <table>
          <thead>
            <tr>
              <th>Name of the Leacturer</th>
              <th>Leacturer Id</th>
              <th>Number of class per-day</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mahathi</td>
              <td>1601-21-771-002</td>
              <td>4</td>
              <td class="warning">Active</td>
            </tr>

            <tr>
              <td>Jayanth</td>
              <td>1601-21-771-034</td>
              <td>4</td>
              <td class="warning">Active</td>
            </tr>
            <tr>
              <td>Laasya</td>
              <td>1601-21-771-024</td>
              <td>4</td>
              <td class="warning">Active</td>
            </tr>
            <tr>
              <td>Praddy</td>
              <td>1601-21-771-029</td>
              <td>4</td>
              <td class="warning">Active</td>
            </tr>
          </tbody>
        </table>
        <a href="#">Show all</a>
      </div>
    </main>
    <!-- MENU -->
    <div class="right">
      <div class="top">
        <button class="menu_btn" id="menu_button">
          <span class="material-icons-sharp">menu</span>
        </button>
        <div class="stud_profile">
          <div class="info">
            <p>Hello,<b>
                <%=name%>
              </b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile_photo">
            <img src="100996407.png" alt="photo" />
          </div>
        </div>
      </div>
      <div class="recent-updates">
        <h2>Recent updates</h2>
        <div class="updates">
          <div class="update">
            <div class="profile-photo">
              <img src="100996407.png" alt="photo" />
            </div>
            <div class="message">
              <p><b>
                  <%=name%>
                </b></p>
              <small class="text-muted">2 minutes ago</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>